App.css

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Ou ajuster la valeur */
  padding: 0px; /* Ajuster ici */
  font-family: 'Arial', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 95vw;
  max-width: 1600px;
  margin: 1.5cm auto 0 auto; /* Marge de 2 cm en haut */
  padding: 10px;
  background-color: #f8d9d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2cm); /* Prend tout l'espace de l'écran sans la marge du haut */
  box-sizing: border-box;
}


.header {
  text-align: center;
  margin-bottom: 5px;
  background-color: #4FA5E3;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.header h1 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin: 0; /* Ou ajuster la valeur */
  padding: 0px; /* Ajuster ici */
}

/* Aligner les champs Départ et Destination avec l'icône du train sur la même ligne */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px; /* Réduisez l'espace entre les éléments */
  margin-bottom: 20px; /* Réduit l'espace en dessous du formulaire */
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  /* Empêche le formulaire de grandir inutilement */
  flex-shrink: 0;
}

/* Form group en ligne */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* S'assurer que les groupes sont alignés horizontalement */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espace entre chaque champ de formulaire et l'icône */
  flex-wrap: wrap; /* Permet de mettre les éléments sur plusieurs lignes si nécessaire */
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4FA5E3;
  background-color: #E0F2FF;
  color: #333;
  font-size: 16px;
}

/* Icône du train entre les deux champs */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 40px;
  height: 40px;
}

/* Style du bouton "C'est parti !" */
.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #4FA5E3;
  background-color: white;
  border: 2px solid #4FA5E3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #4FA5E3;
  color: white;
}

/* Leaflet map container */
.leaflet-container {
  width: 100%;
  flex-grow: 1; /* Permet à la carte d'occuper tout l'espace restant */
  height: auto;
  min-height: 400px; /* Hauteur minimum de la carte */
  border-radius: 10px;
}


.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

/* Styles pour les boutons en haut à gauche */
.header-buttons-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header-button {
  color: #fff;
  background-color: #4FA5E3;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #3a8dc1;
}

/* Ajouter un contour bleu foncé pour le bouton actif */
.active-button {
  border: 2px solid #003366; /* Contour bleu foncé */
}

/* Animation de la gare */
.gare-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.gare-image {
  width: 100vw;
  height: 100vh;
  background: url('./assets/Gare_de_Limoges.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform-origin: center;
}

.gare-animation {
  animation: openGare 1.5s ease forwards;
}

@keyframes openGare {
  0% {
    clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 50% 0% 50%);
  }
}

label[for="night-trains"] {
  font-size: 12px; /* Adjust the size as needed */
}

/* Style pour le champ de date */
.date-picker {
  width: 150px; /* Ajuste la largeur du champ de date */
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4FA5E3;
  background-color: #E0F2FF;
  color: #333;
  font-size: 16px;
}

.filter-button {
  background-color: #4FA5E3; /* Couleur de fond */
  border: none;
  padding: 10px 15px;
  margin-left: 10px; /* Espace avec le bouton "C'est parti !" */
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #3a8dc1; /* Couleur au survol */
}

/* Styles pour le pop-up de filtres */
.filter-popup {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  z-index: 1001; /* S'assurer que le popup est au-dessus de la carte */
  position: relative; /* Pour que le z-index soit pris en compte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optionnel : un effet d'ombre pour plus de visibilité */
}

.filter-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* S'assurer que l'overlay soit bien au-dessus de la carte */
}

.filter-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligner les items à gauche */
  margin-bottom: 10px;
}

.filter-checkbox {
  margin-right: 10px; /* Ajuste l'écart entre la case et le texte */
}



input[type="range"] {
  width: 100%;
}




.filter-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-popup-content h2 {
  margin-bottom: 15px;
}

.filter-popup-content label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-popup-content button {
  padding: 10px 15px;
  background-color: #4FA5E3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-popup-content button:hover {
  background-color: #3a8dc1;
}

.map-and-sidebar {
  display: flex;
}

.sidebar {
  width: 25%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: calc(100vh - 200px);
}

.city-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar p {
  margin-bottom: 20px;
}

.left-image-section {
  position: absolute;
  top: 20px; /* Ajustez la distance par rapport au haut si nécessaire */
  left: 10px; /* Placez-le à gauche */
  width: 6cm; /* La largeur de votre bande blanche */
  padding: 10px;
}

.city-image {
  width: 100%; /* L'image prend toute la largeur de la bande */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  border-radius: 8px; /* Un effet arrondi si vous le souhaitez */
}


.main-section {
  display: flex;
}

.left-info-section {
  flex: 1;
  padding: 20px;
}

.city-info h3 {
  margin-top: 20px;
  font-size: 18px;
}

.right-map-section {
  flex: 2;
}

.destinations-section {
  margin-top: 20px;
}

.tourist-city-section {
  text-align: center;
  margin-top: 20px;
}
