/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 95vw; /* Prend 95% de la largeur du viewport (écran visible) */
  max-width: 1400px; /* Limite la largeur pour éviter qu'elle ne devienne trop grande sur les grands écrans */
  margin: 0 auto; /* Centre le container horizontalement */
  padding: 20px;
  background-color: #f8d9d6; /* Fond rose */
  border-radius: 10px; /* Ajoute des coins arrondis */
}


.header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #4FA5E3; /* Fond bleu */
  padding: 15px;
  color: white; /* Texte blanc */
  border-radius: 10px;
}

.header h1 {
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px; /* Bordures arrondies */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4FA5E3;
  background-color: #E0F2FF;
  color: #333;
  font-size: 16px;
}

/* Taille de l'icône du train */
.icon img {
  width: 40px;
  height: 40px;
}

/* Style du bouton "C'est parti !" */
.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #4FA5E3;
  background-color: white;
  border: 2px solid #4FA5E3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #4FA5E3;
  color: white;
}

.leaflet-container {
  width: 100%; /* Prend toute la largeur de son parent */
  height: 400px;
  border-radius: 10px;
}

.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

